.nav_f {
  font-size: 1.25rem;
}

.fo_f {
  font-size: 1rem;
}

.inner {
  width: 85%;
  margin: 0 auto;
}

#sinsung_wrap {
  width: 100%;
  height: 100%;
}
#sinsung_wrap .container {
  width: 100%;
  height: 100%;
}

#header {
  height: 100px;
  position: fixed;
  background: #000;
  width: 100%;
  z-index: 100;
}
@media (max-width: 1280px) {
  #header {
    height: 80px;
  }
}
@media (max-width: 768px) {
  #header {
    height: 70px;
  }
}
@media (max-width: 480px) {
  #header {
    height: 60px;
  }
}
#header .navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
@media (max-width: 1280px) {
  #header .navbar .container {
    height: 80px;
  }
}
@media (max-width: 768px) {
  #header .navbar .container {
    height: 70px;
  }
}
@media (max-width: 480px) {
  #header .navbar .container {
    height: 60px;
  }
}
#header .navbar .container #navbarNav {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
}
#header .navbar .container #navbarNav .navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  #header .navbar .container #navbarNav .navbar-nav {
    display: none;
  }
}
#header .navbar .container #navbarNav .consulting {
  margin: 0 0 0 5%;
}
#header .navbar .container #navbarNav ul > li.nav-item {
  width: 130px;
  text-align: center;
  margin: 0px 30px;
  position: relative;
}
#header .navbar .container #navbarNav ul > li.nav-item.on .sub_menu {
  opacity: 1;
  transition: opacity 0.5s;
  visibility: visible;
}
#header .navbar .container #navbarNav ul > li.nav-item.on a {
  background: #4F9EC5;
  color: #fff;
  transition: background 0.2s;
}
#header .navbar .container #navbarNav ul > li.nav-item:last-child {
  margin: 0 0 0 30px;
}
#header .navbar .container #navbarNav ul > li.nav-item .sub_menu {
  position: absolute;
  top: 100px;
  left: -35px;
  padding: 15px 10px;
  background: #4F9EC5;
  width: 180px;
  height: auto;
  opacity: 0;
  transition: opacity 0.5s;
  visibility: hidden;
  box-shadow: 0 2px 5px #888;
}
#header .navbar .container #navbarNav ul > li.nav-item .sub_menu li {
  padding: 20px 10px;
}
#header .navbar .container #navbarNav ul > li.nav-item .sub_menu li a {
  color: #fff;
}
#header .navbar .container #navbarNav ul > li.nav-item .sub_menu li a i {
  display: block;
  width: 0%;
  height: 2px;
  background: #fff;
  border-radius: 0;
  transition: all 1s;
  margin: 8px 0 0;
}
#header .navbar .container #navbarNav ul > li.nav-item .sub_menu li a:hover {
  font-weight: 600;
}
#header .navbar .container #navbarNav ul > li.nav-item .sub_menu li a:hover i {
  width: 100%;
}
#header .navbar .container #navbarNav ul > li.nav-item > a {
  color: #fff;
  font-weight: 700;
  padding: 7px 0;
  margin: 28px 0;
  border-radius: 30px;
}
#header .navbar .container #navbarNav ul > li.nav-item > a:hover {
  background: #4F9EC5;
  color: #fff;
  transition: background 0.2s;
}
#header .navbar .container #navbarNav .consulting a {
  background: #1445CE;
  color: #fff;
  width: 140px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  font-weight: 600;
  border-radius: 30px;
  text-align: center;
}
#header .navbar .container #navbarNav .navbar-toggler {
  position: relative;
  width: 33px;
  border: 0;
  outline: 0;
  background: transparent;
  padding: 14px 4px 15px;
}
@media (max-width: 480px) {
  #header .navbar .container #navbarNav .navbar-toggler {
    width: 35px;
  }
}
#header .navbar .container #navbarNav .navbar-toggler .btn_line_02 {
  margin: 8px 0;
}
#header .navbar .container #navbarNav .navbar-toggler.on .btn_line_01 {
  transform: rotateZ(-45deg) translate3d(-7px, 7px, 0);
  width: 25px;
}
#header .navbar .container #navbarNav .navbar-toggler.on .btn_line_02 {
  opacity: 0;
  transform: translateX(0);
}
#header .navbar .container #navbarNav .navbar-toggler.on .btn_line_03 {
  transform: rotateZ(45deg) translate3d(-7px, -7px, 0);
  width: 25px;
}
#header .navbar .container #navbarNav .navbar-toggler.on .hamburger-menu:hover span.iconbar.btn_line_01 {
  width: 25px;
}
#header .navbar .container #navbarNav .navbar-toggler.on .hamburger-menu:hover span.iconbar.btn_line_03 {
  width: 25px;
}
#header .navbar .container #navbarNav .navbar-toggler .hamburger-menu {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}
#header .navbar .container #navbarNav .navbar-toggler .hamburger-menu:hover span.iconbar.btn_line_01 {
  width: 17px;
}
#header .navbar .container #navbarNav .navbar-toggler .hamburger-menu:hover span.iconbar.btn_line_02 {
  width: 25px;
}
#header .navbar .container #navbarNav .navbar-toggler .hamburger-menu:hover span.iconbar.btn_line_03 {
  width: 17px;
}
#header .navbar .container #navbarNav .navbar-toggler .hamburger-menu span {
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  transition: transform 0.3s ease;
}
#header .navbar .container #navbarNav .navbar-toggler .hamburger-menu span.iconbar {
  position: relative;
  display: block;
  width: 25px;
  height: 2px;
  background: #fff;
  transition: all 0.2s ease-in-out;
  transition: width 0.13s ease-out, transform 0.13s ease-out, opacity 0.13s ease-out;
}
#header .navbar .container #navbarNav .navbar-toggler .hamburger-menu span.iconbar:nth-child(2) {
  width: 17px;
}
#header .navbar .container #navbarNav .navbar-toggler .hamburger-menu span::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
}
#header .navbar .container #navbarNav .navbar-toggler .hamburger-menu span::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
}
#header .logo img {
  max-width: 182px;
}
@media (max-width: 1280px) {
  #header .logo img {
    max-width: 120px;
  }
}
@media (max-width: 768px) {
  #header .logo img {
    max-width: 100px;
  }
}
#header .navbar-toggler {
  display: none;
}
@media (max-width: 1024px) {
  #header .navbar-toggler {
    display: block;
  }
}

.aside_bg.on {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

#aside {
  position: fixed;
  right: -70%;
  top: 0;
  bottom: 0;
  overflow: auto;
  overflow-x: hidden;
  width: 70%;
  padding: 100px 0 0;
  background-color: #fff;
  z-index: 99;
  background: #4F9EC5;
  transition: right 300ms ease-in-out;
}
@media (max-width: 768px) {
  #aside {
    padding: 70px 0 0;
  }
}
@media (max-width: 480px) {
  #aside {
    padding: 60px 0 0;
  }
}
#aside.on {
  right: 0;
}
#aside .navbar-nav_m {
  height: 100%;
  padding: 30px 0 0 50px;
}
#aside .navbar-nav_m li {
  line-height: 3;
  margin: 0 0 10px 0;
}
#aside .navbar-nav_m li .sub {
  margin: 0 0 15px 30px;
  display: none;
}
#aside .navbar-nav_m li .sub li a {
  font-weight: 400;
}
#aside .navbar-nav_m li > a {
  font-weight: 800;
  color: #fff;
}
#aside .navbar-nav_m li > a i {
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #4F9EC5;
  border-radius: 50px;
}

#footer {
  position: relative;
  padding: 50px 0 30px;
  border-top: 1px solid #ddd;
}
#footer .inner .flex {
  display: flex;
  justify-content: space-between;
}
#footer .inner .flex #f_logo {
  width: 182px;
  margin: 0 5% 0 0;
}
#footer .inner .flex ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer .inner .flex ul li a {
  font-weight: 600;
  margin: 0 30px;
}
#footer .inner .flex ul li a:hover {
  color: #1445CE;
  transition: all 1s;
}
#footer .address {
  color: #6B6B6B;
  line-height: 1.8;
}
#footer .address span {
  font-weight: 600;
  margin-right: 10px;
}
#footer .address span.block {
  display: block;
}
#footer .copyright {
  color: #6B6B6B;
  margin: 10px 0;
  font-weight: 600;
}

#totop {
  opacity: 0;
  position: sticky;
  z-index: 10000;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  border-radius: 4px;
  transition: opacity 0.5s;
  width: 40px;
  height: 40px;
}

@media (max-width: 1440px) {
  #header .navbar .container #navbarNav ul li {
    margin: 0 20px;
  }
}
@media (max-width: 1280px) {
  .nav_f {
    font-size: 1rem;
  }
  #header .navbar .container #navbarNav ul li.nav-item {
    width: 105px;
    margin: 0 10px;
  }
  #header .navbar .container #navbarNav ul li.nav-item > a {
    margin: 22px 0;
  }
  #header .navbar .container #navbarNav ul li.nav-item .sub_menu {
    top: 81px;
    left: -50px;
  }
  #header .navbar .container #navbarNav ul li.nav-item .sub_menu li {
    padding: 20px 0;
  }
  #footer .inner .flex #f_logo img {
    max-width: 150px;
  }
  #footer .inner .flex ul li a {
    margin: 0 20px;
  }
  #footer .inner .b_box {
    padding: 30px 0px;
  }
  #footer .inner .b_box .address span br {
    display: none;
  }
}
@media (max-width: 1024px) {
  #header .navbar .container #navbarNav .consulting {
    display: none;
  }
  #aside {
    padding: 80px 0 0;
  }
}
@media (max-width: 768px) {
  #aside {
    padding: 70px 0 0;
  }
  #aside .navbar-nav_m {
    padding: 30px;
  }
  #footer .inner .flex {
    display: block;
  }
  #footer .inner .flex #f_logo {
    margin: 0 0 30px 0;
  }
  #footer .inner .flex ul li a {
    margin: 30px 0 0;
  }
  #footer .inner .b_box {
    display: block;
  }
  #footer .inner .b_box .sns {
    position: absolute;
    top: 60px;
    right: 20px;
  }
  #footer .address span.block {
    display: initial;
  }
}
@media (max-width: 480px) {
  #aside {
    padding: 60px 0 0;
  }
}
@media (max-width: 414px) {
  .nav_f {
    font-size: 0.75rem;
  }
  #footer .inner .flex #f_logo img {
    max-width: 160px;
  }
}/*# sourceMappingURL=common.css.map */