@import "_mixin";



.mf_big{
    font-size: 4.375rem;
}
.mf_nom{
    font-size: 2.0625rem;
}

.mf_xom{
    font-size: 3.125rem;
}

.mf_lom{
    font-size: 1.875rem;
}

.mf_som{
    font-size: 1.25rem;
}

.mf_small{
    font-size: 1.125rem;
}
.mf_ssm{
    font-size: 0.875rem;
}

.c_blue{
    color: #4F9EC5;
}

.t_center{
    text-align: center;
}

#contents{
    //padding-top: 100px;
}

.mt{
    margin: 100px 0 0;
}

.mb{
    margin: 0 0 100px 0;
}

#deps01{
    .main_slide{
        width: 100%;
        height: 100%;
    }
    .swiper-scale-effect{
        .swiper-slide-cover {
            transition: 20s ease-out;
            transform: scale(1.2);
          }
          .swiper-slide.swiper-slide-active .swiper-slide-cover {
            transform: scale(1);
          }
    }

    .swiper-wrapper{
        .swiper-slide{
            //height: 930px;
            height: 100vh;
            width: 100%;
            background-position: center top;
            background-size: cover;
            background-repeat: no-repeat;
            display: table;
            &.slide01{
                .swiper-slide-cover{
                    background-image:url("../img/main_visual01.jpg");
                    transform-origin: 0 100%;
                }
                
            }
            &.slide02{
                .swiper-slide-cover{
                    background-image:url("../img/main_visual02.jpg");
                    transform-origin: 100% 100%;
                }
               
            }
            &.slide03{
                .swiper-slide-cover{
                    background-image:url("../img/main_visual01.jpg");
                    transform-origin: 100% 0;
                }
      
            }
            &.slide04{
                .swiper-slide-cover{
                    background-image:url("../img/main_visual02jpg");
                    transform-origin: 100% 0;
                }
      
            }
            .swiper-slide-cover {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: transparent no-repeat 50% 50% /cover;
              }
          
            .txt{
                 display: table-cell;
                vertical-align: middle;
                text-align: right;
                letter-spacing: -1px;
                position: absolute;
                top: 50%;
                right: 0;
                width: 100%;
                transform: translate(0, -50%);
                .inner{
                    // opacity: 0;
                    // transform: translateX(10%);
                    
                    //transition: 1s ease-in-out;
                }
                span{
                    text-shadow: 0px 0px 1px #232323;
                }

                p{
                    font-weight: 300;
                    line-height: 1.3;
                    text-shadow: 0px 0px 1px #232323;
                }
                strong{
                    font-weight: 500;
            
                    span{
                        font-size: 4.6875rem;
                        text-shadow: 0px 0px 1px #232323;
                    }
                }
            }
        }
        .swiper-slide-active{
            .txt{
               
           
                .inner{
                    opacity: 1;
                    transform: none;
                    // -webkit-transition: 2s ease-in-out;
                    // -moz-transition: 2s ease-in-out;
                    // -o-transition: 2s ease-in-out;
                    // transition: 2s ease-in-out;
                    color:#2E1477;
                }
            }
        }
       
    }
    .box{
        width: 815px;
        height: 100px;
        position: absolute;
        bottom: 0;
        right: 0;
        background: #2E1477;
        z-index: 1;
        color: #fff;
        display: flex;
        .con{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            position: relative;
        
        }
        .arrow{
            position: relative;
            width: 40%;
            height: 100%;
            
            .swiper-button-next{
                &:before{
                    content: "next slide";
                    display: block;
                    position: absolute;
                    right: 30px;
                    width: 100px;
                    color: #fff;
                    font-size: 1.25rem;
                    outline: 0;
                }
                &:after{
                    content:"";
                    background: url("../img/next_arrow.png")no-repeat;
                    background-size: 28px 10px;
                    width: 27px;
                    height: 27px;
                    background-position: center;
                    outline: 0;
                }
            }
           
            .swiper-button-prev{
                &:before{
                    content:"prev slide";
                    display: block;
                    position: absolute;
                    left: 33px;
                    width: 100px;
                    font-size: 1.25rem;
                    color: #fff;
                    outline: 0;
                }
                &:after{
                    content:"";
                    background: url("../img/left_arrow.png")no-repeat;
                    background-size: 28px 10px;
                    width: 27px;
                    height: 27px;
                    background-position: center;
                    outline: 0;
                }
            }
        }
        .swiper-pagination-fraction{
            width: 100px;
            position: inherit;
        }
        
        .swiper-pagination{
            position: relative;
            width: 35%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 0;
            &.swiper-pagination-fraction{
                width: 15%;
            }
        }
        .swiper-pagination-bullet {
            width: 8px;
            height: 8px;
            background: #fff;
            position: inherit;
            margin: 0 10px;
        }
        .swiper-pagination-bullet-active{
            &:after{
                content: "";
                display: block;
                position: absolute;
                border: 2px solid #ddd;
                width: 23px;
                height: 23px;
                border-radius: 20px;
                top: -9px;
                left: -9px;
            }
        }

        .swiper-button-next, .swiper-rtl .swiper-button-prev{              
                justify-content: end;
                outline: 0;
            }
        
        .swiper-button-prev,.swiper-rtl .swiper-button-next{            
                justify-content: flex-start;
                outline: 0;
            }
        
    }
}


#deps02{
    .flex{
        display: flex;
        justify-content: space-between;
        padding: 0 100px;
        .left{
            width: 50%;
            padding: 7% 0 0;
            margin: 0 5% 0 0;
            small{
                color: #717171;
                font-weight: 400;
            }
            .subtitle{
                color: #333333;
                font-weight: 600;
                margin: 0 0 15px 0;
            }
            p{
                color: #A8A8A8;
                margin: 0 0 10px 0;
                font-weight: 600;
            }
            .see_btn{
                 color: #D4D4D4;
                 border: 2px solid #888;
                 display: inline-block;
                 border-radius: 30px;
                 padding: 6px 25px;
                 margin: 10% 0 0;
                 transition: all .4s ease-out;
                
                &:hover{
                    background: #4F9EC5;
                    border: 0;
                    color: #fff;
                    border: 1px solid #4F9EC5;
                }
                
            }
        }
        .right{
            width: 70%;
        }
    }
}

#deps03{

    .title{
        
    }
    .subtitle {
       
    }
    .cont_in{
        margin: 80px 0 0;
        .Swiper{
            // max-width: 1200px;
            // width: 100%;
            // margin: 0 auto;
            margin: 0 200px;
            
       
            .swiper-wrapper{
                
               
                .swiper-slide{
                    background: #fff;                  
                   
                    
                    width: 16.5%;
                    &.swiper-slide-active{
                        border-left: 1px solid #B5B6B6;
                    }
                   
                    &.swiper-slide-thumb-active{
                        
                        
                        .txt{
                            color: #fff;
                            background: #4F9EC5;
                            border: 1px solid #4F9EC5;
                            
             
                        }
                    }
                    .txt{
                        color: #B5B6B6;
                        text-align: center;
                        height: 55px;
                        display: flex;
                        font-weight: 600;
                        align-items: center;
                        justify-content: center;
                        border-top: 1px solid #B5B6B6;
                        border-bottom: 1px solid #B5B6B6;
                        border-right: 1px solid #B5B6B6;
                        transition: all 0.4s ease-out;
                        &:hover{
                            background: #4F9EC5;
                            
                            color: #fff;
                            border: 1px solid #4F9EC5;
                        }
                      
                    }
                    &:first-child{
                        
                    }
                    &:last-child{
                        
                       
                    }
                }
            }
        }
        .Swiper2{
            margin: 50px 0 0;
            padding: 0 50px;
            .swiper-slide{
                position: relative;
                overflow: hidden;
                figure{
                    max-width: 1540px;
                    margin: 0 auto!important;
                    overflow: hidden;
                }
                &:after{
                    content:"";
                    position: absolute;
                    top: 50px;
                    left: 50px;
                    right: 50px;
                    bottom: 50px;
                    background: rgba(27, 27, 27, 0.65);
                    transform: translateY(150%);
                    transition: all 0.35s ease;
                    -webkit-transition: all 0.35s ease;
                    opacity: 0;
                    max-width: 1400px;
                    margin: 0 auto!important;
                    overflow: hidden;
                }

                &:hover{
                    figcaption{
                        a{
                            opacity: 1;
                            transition: all 0.2s ease;
                            -webkit-transition: all 0.2s ease;
                            transform: translateY(0%);
                        }
                    }
                 

                    &:after{
                        content:"";
                        opacity: 1;
                        transform: translateY(0%);
                        transition: all 0.35s ease;
                        -webkit-transition: all 0.35s ease;
                      
                    }
                    
                    img{
                        transform: scale(1.1);
                        transition: transform .5s;
                    }
                }
                img{
                    transform: scale(1);
                    transition: transform .5s;
                }
                
                figcaption{
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height:100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    a{
                        display: block;
                        color: #fff;
                        position: relative;
                        z-index: 10;
                        opacity: 0;
                        transition: all 0.2s ease;
                        -webkit-transition: all 0.2s ease;
                        transform: translateY(150%);
                        text-align: center;
                        width: 90%;
                        margin: 0 100px;
                        h3{
                            position: relative;
                            margin: 0 0 25px 0;
                            padding: 0 0 25px 0;
                            &:after{
                                content:"";
                                display: block;
                                position: absolute;
                                bottom: 0;
                                left: 50%;
                                background: #fff;
                                width: 200px;
                                height: 2px;
                                transform: translate(-50%,0);
                            }
                        }
                        p{
                            color: #B5B6B6;
                        }
                        .see_btn{
                            border-radius: 50px;
                            border: 2px solid #707070;
                            color: #D4D4D4;
                            padding: 7px 30px;
                            margin: 30px 0 0;
                            display: inline-block;
                            transition: all 0.4s ease-out;
                            &:hover{
                                background: #4F9EC5;
                                border: 0;
                                color: #fff;
                                border: 1px solid #4F9EC5;
                            }
                        }
                    }
                
                }
            
                .pc_show{
                    display: block;
                    margin: auto;
                }
                .mo_show{
                    display: none;
                    margin: auto;
                }
                
            }
            .swiper-button-next, 
            .swiper-rtl .swiper-button-prev{
                color: #BCBCBC;
                right: 0;
    
            }
            .swiper-button-next:after, 
            .swiper-rtl .swiper-button-prev:after{
                font-size: 1.875rem;
                
            }
            .swiper-button-prev, 
            .swiper-rtl .swiper-button-next{
                color: #BCBCBC;
                left: 0;
            }
            .swiper-button-prev:after, 
            .swiper-rtl .swiper-button-prev:after{
                font-size: 1.875rem;
            }
        }
    }
}

#deps04{
    display:none;
    .flex{
        display: flex;
        .left{
            width: 70%;
            text-align: left;
            padding: 50px 0;
            box-sizing: border-box;
            .title_box{
                display: flex;
                align-items: center;
                margin: 0 0 20px 0;
                .line{
                    width: 4px;
                    height: 40px;
                    background: #707070;
                    margin: 0 10px;
                }
            }
            .gallery_list{
                li{
                    float: left;
                    width: 31%;
                    border: 1px solid #DCDCDC;
                    padding: 15px;
                    margin: 0 2% 0 0;
                    box-shadow: 0px 1px 3px 3px #eee;
                    box-sizing: border-box;
                    &:last-child{
                        margin: 0;
                    }
                    figure{
                        img{
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .subject{
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        font-weight: 600;
                        margin: 30px 0;
                    }
                    .wr_content {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }
                    .more{
        
                        display: flex;
                        justify-content: flex-end;
                        margin: 50px 0 0;
                        >span{
                            position: relative;
                            background-color: #4F9EC5; 
                            font-size: 1.5rem;
                            border: 1px solid #4F9EC5;
                            border: none;
                            cursor: pointer; 
                            display: block;
                            width: 30px;
                            height: 30px;
                            transition: all 0.4s ease-out;
                            
                            &:after{
                                content:"+";
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 30px;
                                height: 30px;
                                
                             
                                font-size: 1.875rem;
                                color: #fff;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                font-weight: 300;
                            }
                        }
                      
                    }
                }
            }
        }
        .right{
            width: 30%;
            text-align: left;
            background: #DCDCDC;
            padding: 50px 30px;
            box-sizing: border-box;
            .title_box{
                display: flex;
                margin: 0 0 20px 0;
                align-items: center;
                .line{
                    width: 4px;
                    height: 40px;
                    background: #707070;
                    margin: 0 10px;
                }
            }
            .noti_box{
                background: #fff;
                padding: 50px 30px;
                height: 385px;
                overflow: hidden;
                li{
                
                        margin: 0 0 12px 0;
                        
                        a{
                            display: flex;
                            align-items: center;
                            i{
                                width: 3px;
                                height: 3px;
                                background: #888;
                                display: block;
                            }
                            .subject{
                                padding: 0 0 0 10px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-line-clamp: 1;
                                -webkit-box-orient: vertical;
                            }
                           
                        }
                }
                .more{
        
                    display: flex;
                    justify-content: flex-end;
                    margin: 42px 0 0;
                    width: 30px;
                    height: 30px;
                    text-align: right;
                    float: right;
                    >span{
                        position: relative;
                        
                        font-size: 1.5rem;
                        border: none;
                        cursor: pointer; 
                        display: block;
                        width: 30px;
                        color: #888;
                        height: 30px;
                        a{
                            display: block;
                        }
                        &:after{
                            content:"+";
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 30px;
                            height: 30px;
                            
                            border: 1px solid #888;
                            font-size: 1.5rem;
                            color: #888;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-weight: 300;
                        }
                    }
                  
                }
            }
        }

    }
    
}

#deps05{
    padding: 100px 0 0;
    .cont_in{
        background-image: url("../img/deps05_bg.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 100%;
        height: 100%;
        padding: 100px 0;
        .flex{
            display: flex;
            justify-content: space-between;
            .left{
                width: 50%;
                margin: 0 5% 0 0;
                .root_daum_roughmap {
                    border-radius: 30px;
                    width: 100%!important;
                }
                .address{
                    margin: 55px 0 0;
                    span{
                     
                        padding-left: 7%;
                        margin-right: 2%;
                        width: 100%;
                        text-align: left;
                        a{
                            color: #232323;
                            display: inline-block;
                        }
                    }
                    ul{
                        li{
                            display: flex;
                            margin: 30px 0;
                            color: #232323;
                            font-weight: 600;
                         
                            .ico01{
                                background: url("../img/deps05_icon01.png")no-repeat;
                                background-size: 19px 27px;
                                width: 30px;
                                height: 27px;
                                display: block;
                                padding-left: 40px;
                                background-position: 7px 0px;
                            }
                            .ico02{
                                background: url("../img/deps05_icon02.png")no-repeat;
                                background-size: 28px 25px;
                                width: 30px;
                                height: 27px;
                                display: block;
                                background-position: 3px 0px;
                               padding-left: 40px;
                            }
                            .ico03{
                                background: url("../img/deps05_icon03.png")no-repeat;
                                background-size: 28px 20px;
                                width: 30px;
                                height: 27px;
                                display: block;
                                padding-left: 40px;
                                background-position: 4px 3px;
                            }
                        }
                    }
                }
            }
            .right{
                width: 50%;
                height: 100%;
                margin: 0 0 0 2%;
                background: #fff;
                border-radius: 15px 15px 15px 90px;
                padding: 30px 50px 70px;
                box-shadow: 0px 7px 8px 0px #888;
                .relative{
                    position: relative;
                }
                form{
                   > span{
                        margin: 20px 0;
                        color: #ddd;
                        display: block;
                       
                        label{
                            display: block;
                            width: 100%;
                        }
                  
                        
                        &.agree{
                            position: relative;
                            display: flex;
                            text-align: left;
                            .more{
                                color: #888;
                                border-bottom: 1px solid #888;
                            }
                            .check{
                                display: none;
                            }
                          
                            input#check_box + label{
                                cursor:pointer;
                                &:before{
                                    content:"";
                                    display:inline-block;
                                    width:22px;
                                    height:22px;
                                    border: 1px solid #cdcdcd;
                                    border-radius: 50%;
                                    box-sizing: border-box;
                                    vertical-align:middle;
                                    transition: all .5s;
                                }
                                > span{
                                    vertical-align: middle;
                                    padding-left: 10px;
                                }
                            }                              
              
                            input#check_box:checked + label{
                                &:before{
                                    content:"";
                                    background-color:#4F9EC5;
                                    border-color:#4F9EC5;
                                    background-repeat: no-repeat;
                                    background-position: 50%;
                                }
                            }
                              
                            
                            input[type="checkbox"] + label{
                                span{
                                    padding-left: 30px;
                                    color: #888;
                                }                                
                                
                            }
                     
                            
                        }
                        input[type="text"]{
                            width: 100%;
                            box-sizing: border-box;
                            height: 40px;
                            background: #ECECEC;
                            border: 1px solid #ececec;
                            border-radius: 10px;
                            padding: 0 15px;
                            outline: 0;
                            font-family: 'NanumSquareNeo';    
                            &::placeholder{
                                color: #c9c9c9;
                            }
                            
                        }
                        textarea{
                            width: 100%;
                            height: 260px;
                            resize: none;
                            background: #ECECEC;
                            border: 1px solid #ececec;
                            border-radius: 10px;
                            padding: 13px 15px;
                            outline: 0;
                            box-sizing: border-box;
                            font-family: 'NanumSquareNeo';
                            &::placeholder{
                                color: #c9c9c9;
                            }    
                        }
                    }
                   
                    .btn{
                        text-align: center;
                        width: 200px;
                        height: 51px;
                        background: #4F9EC5;
                        border: 0;
                        outline: 0;
                        color: #fff;
                        border-radius: 30px;
                        margin: 0 auto;
                        display: block;
                        font-family: 'NanumSquareNeo';    
                    }
                }
            }
        }
    }
}
.quick_bar {
    position: fixed;
    right: 10px;
    bottom: 50px;
    z-index: 9999;
    text-align: right;
    li+li {
        margin-top: 10px;
    }
    .link_item {
        display: inline-block;
        overflow: hidden;
        position: relative;
        width: 60px;
        height: 60px;
        -webkit-border-radius: 30px;
        border-radius: 30px;
        background-color: #2E1477;
        text-align: center;
        -webkit-box-shadow: 3px 4px 10px 2px rgba(0,0,0,.2);
        box-shadow: 3px 4px 10px 2px rgba(0,0,0,.2);
        -webkit-transition: .2s ease-out;
        transition: .2s ease-out;
        -webkit-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
        transform-origin: 0 100%;
        .ico {
            display: inline-block;
            height: 60px;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            font-size: 26px;
            line-height: 60px;
            color: #fff;
            &.icon01{
                
            }
            &.icon02{
                background: url("../img/kakao_ico.png")no-repeat center/30px 30px;
                width: 30px;
                height: 100%;
                margin: 0 auto;

            }
            &.icon03{
                
            }
            &.icon04{
                
            }
        }
        .text {
            display: none;
            margin-left: 10px;
            font-size: 20px;
            vertical-align: top;
            line-height: 60px;
            color: #fff;
            white-space: nowrap;
            opacity: 0;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
        }
    }
    
}


.quick_bar .link_item:focus,.quick_bar .link_item:hover {
    width: auto;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    padding: 0 25px
}

.quick_bar .link_item:focus .text,.quick_bar .link_item:hover .text {
    display: inline-block;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
}



@include breakpoint_desktop_1920 {
    .mf_big{
        font-size: 3.375rem;
    }
    #deps01 {
        .swiper-wrapper {
            .swiper-slide {
                .txt {
                    strong {
                        span{
                            font-size: 3.6875rem;
                        }
                    }
                }
            }
        }
    }
}


@include breakpoint_desktop_1600 {
    .mf_nom{
        font-size: 1.875rem;
    }
    .mf_big{
        font-size: 2.8rem;
    }
  

    #deps01 {
        .swiper-wrapper {
            .swiper-slide {
                height: 830px;
                .txt {
                    strong {
                        span{
                            font-size: 3.0625rem;
                        }
                    }
                }
            }
        }
    }
}

@include breakpoint_desktop_1440{
    #deps02 {
        .flex {
            .left{
                .txt{
                    br{
                        display: none;
                    }
                }
            }
        }
    }


}


@include breakpoint_desktop_1360{
    .mf_nom{
        font-size: 1.6875rem;
    }
 
    #deps01 {
        .swiper-wrapper {
            .swiper-slide {
                .txt {
                    strong {
                        span{
                            font-size: 3.3125rem;
                        }
                    }
                }
            }
        }
    }

    #deps03 {
        .cont_in {
            .Swiper{
                margin: 0 130px;
                .swiper-wrapper {
                    .swiper-slide{
                        width: 24.8%;
                    }
                }
            }
        }
    }
}


@include breakpoint_desktop_1280{
    .mf_small{
        font-size: 1rem;
    }
    #contents {
        //padding-top: 80px;
    }
    #deps01 {
        .box{
            height: 80px;
        }
        .swiper-wrapper {
            .swiper-slide {
                height: 730px;
            }
        }
    }
    #deps02 {
        .flex {
            padding: 0 50px;
            .left{
                padding: 0;
            }
        }
    }
 
    #deps03 {
        .cont_in {
            .Swiper {
                .swiper-wrapper {
                    .swiper-slide {
                        &:last-child{
                            .txt{
                                border-right: 1px solid #B5B6B6;
                            }
                        }
                        .txt{
                            border-left: 1px solid #B5B6B6;
                            border-right: 0;
                        }
                    }
                }
            }
            .Swiper2{
                padding: 0 35px;
            }
        }
    }

    #deps04{
        .flex{
            display: block;
            .left{
                width: 100%;
                .gallery_list {
                    li{
                        width: 32%;
                    }
                }
            }
            .right{
                width: 100%;
            }
        }
    }
    #deps05 {
        .cont_in {
            .flex {
                
                .left {
                    .root_daum_roughmap{
                        .wrap_map{
                            height: 320px!important;
                        }
                    }
                }
                .right{
                    form{
                        >span{
                            input[type=text]{
                              
                            }
                            textarea{
                                height: 180px;
                            }
                           
                        }
                    }
                }
            }
        }
    }
}


@include breakpoint_tablet_1024{
    .mf_big{
        font-size: 2.5rem;
    }
    .mf_lom{
        font-size: 1.5625rem;
    }
    .mf_nom{
        font-size: 1.5rem;
    }
    .mf_xom{
        font-size: 2.5rem;
    }
    .mf_som{
        font-size: 1.125rem;
    }
   
    
    #deps01 {
        .swiper-wrapper {
            .swiper-slide {
                .txt {
                    strong {
                        span{
                            font-size: 2.6875rem;
                        }
                    }
                }
            }
        }
    }

    #deps03 {
        .cont_in {
            .Swiper{
                margin: 0 100px;
            }
            .Swiper2 {
                .swiper-slide {
                    .pc_show{
                        display: none;
                    }
                    .mo_show{
                        display: block;
                    }
                }
            }
        }
    }
    #deps05 {
        .cont_in {
            height: 100%;
            .inner{
                width: 65%;
            }
            .flex{
                display: block;
                .left{
                    width: 100%;
                    margin: 0 0 70px 0;
                }
                .right{
                    width: auto;
                    margin: 0;
                }
            }
        }
    }
}

@include breakpoint_tablet_991{
    #deps01 {
        .box{
            width: 100%;
            .swiper-pagination.swiper-pagination-fraction{
                width: 20%;
            }
        }
    }
    
    #deps02 {
        .flex{
            flex-direction: column;
            .left{
                width: 100%;
                margin: 0 0 50px 0;
                text-align: center;
            }
            .right{
                margin: 0 auto;
            }
        }
    }
}

@include breakpoint_tablet_768{
    .mt{
        margin: 50px 0 0;
    }
   
  
    #deps01 {
        
        .box {
            .arrow {
                .swiper-button-next{
                    &::before{
                        width: 80px;
                        font-size: 1rem;
                    }
                }
                .swiper-button-prev{
                    &:before{
                        width: 80px;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
   
    #deps03 {
        .cont_in {
            margin: 40px 0 0;
            .Swiper {
                .swiper-wrapper {
                    .swiper-slide{
                        width: 49.8%;
                    }
                }
            }
            .Swiper2 {
                .swiper-slide{
                    &:after{
                        top: 20px;
                        left: 20px;
                        right: 20px;
                        bottom: 20px;
                    }
                }
            }
        }
    }
    #deps05 {
        padding: 50px 0 0;
        .cont_in{
            padding: 50px 0;
            .flex{
                .right{
                    form {
                        span {
                            textarea{
                                height: 100px;
                            }
                        }
                    }
                }
            }
            .inner{
                width: 80%;
            }
        }
    }

}


@include breakpoint_mobile_640{
    .mf_big{
        font-size: 1.5rem;
    }
    .mf_nom{
        font-size: 1rem;
    }
    #deps01 {
        .swiper-wrapper {
            .swiper-slide {
                .txt {
                    p{
                        margin: 5px 0;
                    }
                    strong {
                        span{
                            font-size: 1.6875rem;
                        }
                    }
                }
            }
        }
      
    }
    #deps01 {
        .box{
            .swiper-pagination{
                &.pagination_bullet{
                    display: none;
                }
                &.swiper-pagination-fraction{
                    display: none;
                }
               
            }
            .arrow{
                width: 100%;
            }
            .con{
                justify-content: center;
                width: 90%;
                margin: 0 auto;

            }
        }

        .swiper-wrapper {
            .swiper-slide{
                height: 630px;
            }
        }
    }
    #deps03{
        .cont_in {
            .Swiper2{
                padding: 0px 25px;
            }
        }
    }

    #deps04{
        .flex {
            .left {
                .gallery_list{
                    li{
                        width: 49%;
                        &:nth-child(2){
                            margin: 0;
                        }
                        &:last-child{
                            display: none;
                        }
                    }
                }
            }
        }
    }
    #deps05 {
        .cont_in {
            .flex {
                .right{
                    padding: 30px 30px 50px;
                    form{
                        >span{
                            input[type=text]{
                                
                            }
                            textarea{
                               
                            }
                        }
                    }
                }
                .left {
                    .root_daum_roughmap{
                        .wrap_map{
                            height: 320px!important;
                        }
                    }
                }
            }
        }
    }
   
}


@include breakpoint_mobile_540{
    .mf_small{
        font-size: 0.875rem;
    }
    .mf_xom{
        font-size: 2.1875rem;
    }
    #deps02 {
        .flex{
            padding: 0;
            .right{
                width: 85%;
            }
        }
    }

    #deps03 {
        .cont_in {
            .Swiper{
                margin: 0 25px;
            }
            .Swiper2{
                .swiper-slide {
                    figcaption {
                        a{
                            margin: 0 30px;
                        }
                    }
                }
            }
        }
    }
    
    #deps05 {
        .cont_in {
            .inner{
                width: 90%;
            }
            .flex {
                .left{
                    margin: 0 0 50px 0;
                    .address{
                        span{
                            padding-left: 2%;
                            margin-right: 2%;
                        }
                        ul{
                            li{
                                span{
                                    &.icon03{
                                        background-size: 26px 18px;
                                        background-position: 4px 0px;
                                    }
                                }
                            }
                        }
                    }
                }
                .right{
                    padding: 10px 30px 35px;   
                    form{
                        >span{
                            input[type=text]{
                               
                            }
                            textarea{
                                
                            }
                        }
                        .btn{
                            width: 160px;
                            height: 45px;
                            clear: both;
                            margin: 40px auto 0;
                        }
                    }
                }
            }
        }
    }
}




@include breakpoint_mobile_480{
    

    .mf_lom{
        font-size: 1.4375rem;
    }
    .mf_som{
        font-size: 1rem;
    }
    #contents {
       // padding-top: 60px;
    }
    #deps01 {
        .swiper-wrapper {
            .swiper-slide{
                height:  530px;
                .txt{
                    text-align: left;
                    strong{
                        span{
                            font-size: 1.7rem;
                        }
                    }
                }
            }
        }
    }
    #deps02 {
        .flex{
            padding: 0;
            .right{
                width: 100%;
            }
        }
    }

    #deps03 {
        .cont_in {
            .Swiper2 {
                .swiper-slide {
                    &:after{
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                    }
                    figcaption {
                        a {
                            h3{
                                margin: 0 0 15px 0;
                                padding: 0 0 15px 0;
                            }
                        }
                    }
                }
            }
        }
    }

    #deps04 {
        .flex {
            .left {
                .gallery_list {
                    li{
                        float: none;
                        width: 100%;
                        margin: 0 0 30px 0;
                      
                    }
                }
            }
            .right {
                padding: 30px 20px;
                .noti_box{
                    padding: 30px 15px;
                    height: auto;
                    li {
                        &:nth-child(5),
                        &:nth-child(6),
                        &:nth-child(7),
                        &:nth-child(8),
                        &:nth-child(9),
                        &:nth-child(10){
                            display: none;
                        }
                        a{
                            align-items: baseline;
                            .subject{
                                -webkit-line-clamp: 2;
                            }
                        }
                    }
                }
            }
        }
    }
    #deps05 {
        .cont_in {
            .flex {
                .right {
                    form {
                        > span{
                            &.agree{
                                display: block;
                                .more{
                                    
                                    float: right;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}



@include breakpoint_mobile_414{
    #deps01 {
        .box{
            height: 60px;
        }
    }
    #deps03 {
        .cont_in {
            .Swiper2{
                padding: 0;
            }
            .Swiper {
                .swiper-wrapper {
                    .swiper-slide{
                        width: 100%;
                    }
                }
            }
        }
        
    }

    #deps05 {
        .cont_in {
            .flex {
                .left {
                    .root_daum_roughmap{
                        .wrap_map{
                            height: 220px!important;
                        }
                    }
                }
            }
        }
    }
}
